.card {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%; /* Asegura que el HTML y el body ocupen toda la altura */
    margin: 0; /* Elimina el margen por defecto */
    overflow: hidden; /* Oculta las barras de desplazamiento */
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: #777777;
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
}

.btn-primary {
    background: #e8878a;
    color: #ffffff;
    border: 2px solid #e8878a;
    border-color: #e8878a;
    height: 40px;
    padding-left: 29px;
    padding-right: 29px;
}
